body{
	/* TODO: challenge - centralize */
}

ul {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	
	max-width: 120rem;
	
	list-style: none;
}

ul > li > .box {
	background-color: #cdcddc;
	
	/* TODO: challenge - centralize */
	
	/* TODO: challenge - same width and height */
	width: 20rem;
	height: 20rem;
	
	font-size: 2.4rem;
}

ul > li > .box--first {
	background-color: cornflowerblue;
}

ul > li > .box--colorful {
	background-color: limegreen;
}

ul > li > .box--last {
	background-color: orangered;
}
