body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

button {
    background-color: hsl(220, 60%, 50%);
    color: hsl(0, 0%, 98%);

    border: none;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background-color: hsl(220, 60%, 40%);
}

button.px {
    width: 160px;

    padding: 10px 20px;

    border-radius: 999px;

    font-size: 24px;
}

button.rem {
    width: 16rem;

    padding: 1rem 2rem;

    border-radius: 999rem;

    font-size: 2.4rem;
}
