:root {
    --gap--small: 0.5rem;
    --gap--medium: 2rem;
    --gap--large: 4rem;
}

body {
    background-color: hsl(0, 0%, 90%);

    padding: var(--gap--large);
}

ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap--large);

    max-width: 100%;

    list-style: none;
}

ul > li {
    background-color: hsl(0, 0%, 98%);

    display: grid;
    grid-template-areas: 'img img' '. button' 'info info';

    transition: transform 0.2s linear;
}

ul > li:hover {
    transform: scale(1.01);
}

ul > li > img {
    grid-area: img;

    width: 100%;
    height: auto;

    object-fit: contain;
}

ul > li > .info {
    grid-area: info;
    padding: var(--gap--small) var(--gap--medium);
}

ul > li > .info > h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

ul > li > .info > .date {
    margin-bottom: 1rem;

    font-size: 1rem;
    font-style: italic;
}

ul > li > .info > p {
    font-size: 1.4rem;
}

ul > li > button {
    grid-area: button;

    background-color: hsl(220, 60%, 50%);
    color: hsl(0, 0%, 98%);

    margin-left: auto;
    padding: var(--gap--small) var(--gap--medium);

    border: none;

    font-size: 1.4rem;
    font-weight: bold;

    cursor: pointer;
}

ul > li > button:hover {
    background-color: hsl(220, 60%, 40%);
}

@media (min-width: 480px) {
}

@media (min-width: 600px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    ul > li {
        display: flex;
        flex-direction: column;
    }

    ul > li > img {
        width: 100%;
        height: auto;

        object-fit: contain;
    }
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
    ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1920px) {
}
